@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Ga+Maamli&family=Grey+Qo&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+BE+VLG:wght@100..400&family=Sevillana&family=Yellowtail&display=swap");
body {
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  display: flex;
  width: 100%;
  background-color: white;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.3s, color 0.3s;
  font-family: "Montserrat Alternates", serif;
}

.banner {
  background-image: url("/backgrounds/perfume.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 600px;
  display: flex;
  color: white;
  font-family: "Montserrat Alternates", serif;
}

.banner2 {
  display: none;
  background-image: url("/backgrounds/p2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 600px;
  font-family: "Montserrat Alternates", serif;
}

.header2 {
  display: none;
}

.header-text {
  font-family: "Grey Qo", cursive;
  font-size: 70px;
  margin-left: 500px;
}

.header-text2 {
  display: none;
  font-family: "Grey Qo", cursive;
}

.dropbtn {
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 30px;
  margin-top: 20px;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  border-radius: 30px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: 40px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #6d213c;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #6d213c;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 500px;
  margin-top: 10px;
}

.fragnance,
.Beauty {
  font-family: "CenturyGothic", "CenturyGothic-fallback", Arial, sans-serif;
  font-size: 13px;
  color: grey;
  text-transform: uppercase;
}

.box1 {
  display: flex;
  flex-direction: column;
}

.discover,
.discover1 {
  margin-top: 12px;
  padding: 10px;
  height: 50px;
  width: 120px;
  color: grey;
  background-color: white;
  border-radius: 50%;
  border: 2px solid grey;
  cursor: pointer;
}

.discover {
  margin-left: -15px;
}

.discover1 {
  margin-left: -22px;
}

.discover:hover,
.discover1:hover {
  color: black;
  border: 2px solid black;
}

#perfumes {
  margin-top: 80px;
  background-color: black;
  height: 600px;
}

.p1 {
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 60px;
  color: white;
}

.p2 {
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 60px;
  color: black;
}

.display {
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  display: flex;
  flex-direction: row;
}

.disp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #7ebdc2;
  color: black;
  height: 350px;
  width: 250px;
  text-align: center;
  margin-left: 60px;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}

.like {
  position: absolute;
  top: 20px;
  right: 20px;
  transition: color 0.3s;
}

.like2 {
  color: white;
}

.like1 {
  color: black;
}

.text {
  font-family: "Dancing script", cursive;
  font-size: 20px;
}
.price {
  margin-top: -10px;
  font-weight: bold;
}

.like.filled {
  color: red; /* Color when filled */
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.d1 {
  background-image: url("/perfumes/p1.webp");
}

.d2 {
  background-image: url("/perfumes/p2.jpg");
}

.d3 {
  background-image: url("/perfumes/p3.jpg");
}

.d4 {
  background-image: url("/perfumes/p4.webp");
}

.d5 {
  background-image: url("/perfumes/p5.avif");
}

.d6 {
  background-image: url("/perfumes/p6.webp");
}

.d7 {
  background-image: url("/perfumes/p7.webp");
}

.d8 {
  background-image: url("/perfumes/p8.jpg");
}

.d1,
.d2,
.d3,
.d4,
.d5,
.d6,
.d7,
.d8 {
  border-radius: 10%;
  border: 2px solid black;
  height: 200px;
  width: 220px;
  background-size: cover;
  background-position: center;
}

#beauty {
  margin-top: 20px;
  margin-bottom: 80px;
}

.p2 {
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 60px;
  color: black;
}

.disp1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  height: 350px;
  width: 250px;
  text-align: center;
  margin-left: 60px;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}

.b1 {
  background-image: url("/makeup/b1.png");
}

.b2 {
  background-image: url("/makeup/b2.webp");
}

.b3 {
  background-image: url("/makeup/b3.webp");
}

.b4 {
  background-image: url("/makeup/b4.jpg");
}

.b5 {
  background-image: url("/makeup/b5.jpeg");
}

.b6 {
  background-image: url("/makeup/b6.jpg");
}

.b7 {
  background-image: url("/makeup/b7.jpeg");
}

.b8 {
  background-image: url("/makeup/b8.jpg");
}

.b1,
.b2,
.b3,
.b4,
.b5,
.b6,
.b7,
.b8 {
  border-radius: 10%;
  border: 2px solid white;
  height: 200px;
  width: 220px;
  background-size: cover;
  background-position: center;
}

.cta,
.cta1,
.cta2,
.cta3 {
  margin-top: 50px;
  margin-left: 700px;
  border: none;
  background: none;
  cursor: pointer;
}

.cta2,
.cta3 {
  display: none;
}
.cta,
.cta2 {
  color: white;
}

.cta span,
.cta3 span,
.cta2 span,
.cta1 span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.hover-underline-animation {
  position: relative;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after,
.cta2:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  color: white;
  background-color: white;
}

.cta1:hover .hover-underline-animation:after,
.cta3:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  color: black;
  background-color: black;
}

footer {
  background-color: black;
  padding-bottom: 50px;
}
.footer-heading {
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
  color: white;
}
.line {
  width: 900px;
}

.foot {
  margin-top: 50px;
  display: flex;
  margin-left: 190px;
  gap: 120px;
  flex-direction: row;
}

.c-hub {
  font-weight: lighter;
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

.c-heading {
  font-size: 20px;
  color: white;
}

.c-content {
  color: grey;
  font-style: italic;
}

.connect {
  display: flex;
  flex-direction: row;
  margin-left: -20px;
}
.set {
  display: inline-block;
  height: 37px;
  width: 37px;
  background-color: white;
  color: black;
  border-radius: 20px;
  margin-left: 16px;
}

.set:hover {
  animation: glow 1s infinite;
}

.link0 {
  color: black;
  margin-left: 8.5px;
  margin-top: 6px;
}

.link {
  color: black;
  margin-left: 7px;
  margin-top: 7px;
}

.link1 {
  color: black;
  margin-left: 10px;
  margin-top: 7px;
}

.link2 {
  color: black;
  margin-left: 8.5px;
  margin-top: 6px;
}

.link0:hover,
.link1:hover,
.link:hover,
.link2:hover {
  color: #6d213c;
}

.mapping {
  margin-left: 120px;
  display: flex;
  margin-top: 20px;
  gap: 300px;
}

.newsletter {
  margin-left: 120px;
  display: flex;
  flex-direction: column;
}

.n-heading {
  font-weight: lighter;
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  color: grey;
}
.input-email {
  border: none;
  border-bottom: 2px solid grey;
}

.input-email:hover {
  border-bottom: 2px solid black;
}

.input-email:focus {
  border: none;
}

.sign-up {
  margin-top: 20px;
  background-color: transparent;
  color: grey;
  padding: 10px;
  width: 150px;
  border: 2px solid grey;
}

.sign-up:hover {
  border: 2px solid black;
  color: black;
}
.copy {
  margin-top: 120px;
  font-size: 10px;
  color: grey;
}

.location {
  height: 300px;
  width: 400px;
}

#more,
#more2 {
  display: none;
  justify-content: center;
  align-items: center;
}

.cpy {
  margin-top: 650px;
  margin-left: -30px;
  color: white;
  font-size: 10px;
}

@media screen and (max-width: 915px) {
  .header-text2 {
    display: block;
    font-size: 45px;
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px;
  }
  .banner {
    display: none;
  }

  .banner2 {
    display: block;
  }
  .option {
    margin-top: 20px;
    gap: 100px;
  }

  .header2 {
    display: flex;
    background-color: black;
    gap: 10px;
  }

  #perfumes {
    margin-top: 40px;
    height: 700px;
  }
  .display {
    gap: 10px;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .disp {
    margin-left: 5px;
    height: 260px;
    width: 170px;
  }

  .disp1 {
    height: 260px;
    width: 170px;
  }

  .d1,
  .d2,
  .d3,
  .d4,
  .b1,
  .b2,
  .b3,
  .b4 {
    height: 120px;
    width: 140px;
  }

  .p1 {
    font-size: 40px;
    padding-top: 10px;
  }
  .p2 {
    font-size: 60px;
  }
  .disp1 {
    margin-left: 20px;
  }
  #beauty {
    height: 700px;
    margin-top: 30px;
  }

  .cta,
  .cta1,
  .cta2,
  .cta3 {
    display: none;
  }
  .foot {
    margin-left: 90px;
    flex-direction: column;
    gap: 20px;
  }
  .line {
    width: 300px;
  }
  .mapping {
    margin-left: 20px;
    flex-direction: column;
    gap: 10px;
  }
  .location {
    width: 350px;
  }
  .input-email {
    width: 250px;
    margin-left: -100px;
  }
  .connect {
    margin-left: -20px;
  }
  .copy {
    display: none;
  }
  .n-heading {
    margin-left: -120px;
  }
  .sign-up {
    margin-left: -30px;
  }
}
