@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Ga+Maamli&family=Grey+Qo&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+BE+VLG:wght@100..400&family=Sevillana&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Ga+Maamli&family=Grey+Qo&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Matemasie&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+BE+VLG:wght@100..400&family=Rubik:ital,wght@0,300..900;1,300..900&family=Satisfy&family=Sevillana&family=Yellowtail&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.navbar {
  position: fixed;
  background-color: #41122c;
  height: 100vh;
  width: 260px;
  top: 0;
}
#front {
  background-image: url("/backgrounds/bg16.webp");
  height: 750px;
  width: 1270px;
  margin-left: 260px;
  display: flex;
  background-repeat: no-repeat;
  background-size: 1270px 750px;
  border-bottom: 2px solid #41122c;
}
.name {
  font-size: 200px;
  margin-top: 200px;
  color: #41122c;
  font-family: "Grey Qo", cursive;
  margin-left: 650px;
  cursor: pointer;
}

.tagline {
  color: #41122c;
  font-size: 25px;
  cursor: pointer;
  font-style: italic;
  margin-top: 450px;
  margin-left: -350px;
}

.profile {
  text-align: center;
  margin-top: 30px;
}
.profile-pic {
  height: 120px;
  width: 120px;
  border: 13px solid #7f5d70;
}

.text-light {
  color: #e1c0f2;
  font-family: "Grey Qo", cursive;
  font-size: 50px;
  margin-top: -6px;
}

.link0 {
  color: #41122c;
  margin-left: 8.5px;
  margin-top: 6px;
}

.link {
  color: #41122c;
  margin-left: 7px;
  margin-top: 7px;
}

.link1 {
  color: #41122c;
  margin-left: 10px;
  margin-top: 7px;
}

.link2 {
  color: #41122c;
  margin-left: 8.5px;
  margin-top: 6px;
}

.link0:hover,
.link1:hover,
.link:hover,
.link2:hover {
  color: #ff4da6;
}

.set {
  display: inline-block;
  height: 37px;
  width: 37px;
  background-color: #cda9bd;
  color: #41122c;
  border-radius: 20px;
  margin-left: 16px;
}

.set:hover {
  animation: glow 1s infinite;
}
.social-links {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-links a {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 20px;
}

.icon {
  margin-left: -90px;
  color: #e1c0f2;
}

.icon1 {
  color: #e1c0f2;
  margin-left: -85px;
}
.icon2 {
  color: #e1c0f2;
  margin-left: -83px;
}
.icon-name {
  font-size: 20px;
  margin-left: 7px;
  color: #e1c0f2;
}

.icon-name:hover {
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.cpy {
  margin-top: -20px;
  margin-left: 100px;
  color: #800542;
  font-size: 10px;
}

.dropbtn {
  background-color: #41122c;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  margin-top: 100px;
  margin-left: 20px;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: -70px;
  right: -125px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #cda9bd;
  color: #41122c;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #41122c;
}

#Explore {
  margin-left: 10px;
}

.title1,
.title1-2 {
  font-size: 70px;
  margin-left: 260px;
  margin-top: -3px;
  color: #800542;
  font-family: "Grey Qo", cursive;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 300px;
}

.accessory {
  display: flex;
  text-align: center;
  background-image: url("/images/Accessories.JPG");
  height: 300px;
  width: 350px;
  background-size: cover;
  margin-left: 10px;
  border-radius: 10px;
  border: 5px solid #41122c;
}

.fragnance {
  display: flex;
  text-align: center;
  background-image: url("/images/Fragnance.JPG");
  height: 300px;
  width: 350px;
  background-size: cover;
  border-radius: 10px;
  margin-left: 10px;
  border: 5px solid #41122c;
}

.sunglasses {
  display: flex;
  text-align: center;
  background-image: url("/images/sunglasses.jpg");
  height: 300px;
  width: 350px;
  background-size: cover;
  border-radius: 10px;
  border: 5px solid #41122c;
  margin-top: 30px;
  margin-left: 700px;
}

.text {
  display: none;
  color: #fff;
  margin-top: 150px;
  margin-left: 170px;
  animation: glow 1s ease-in-out infinite;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 45px;
  font-family: "Yellowtail", cursive;
}

.fragnance:hover,
.sunglasses:hover,
.accessory:hover {
  background-image: url("");
  background-color: #41122c;
  .text {
    display: flex;
  }
}
#abt {
  margin-left: 260px;
  background-color: #41122c;
}
.title2 {
  font-size: 90px;
  margin-left: 10px;
  color: #ea8ebc;
  font-family: "Grey Qo", cursive;
}

.myself {
  display: flex;
}
.me {
  height: 400px;
  width: 350px;
  margin-left: 80px;
  margin-bottom: 10px;
  border: 12px double #ea8ebc;
}

.paper {
  width: 30vw;
  height: 370px;
  margin: 2em auto;
  background: #fff;
  box-shadow: 4px 4px 0 #d71576;
  background-image: linear-gradient(
      90deg,
      #fff 12px,
      0,
      #d71576 15px,
      0,
      #d71576 20px,
      0,
      #fff 100%
    ),
    radial-gradient(circle closest-side, rgba(255, 255, 255, 0) 88%, #fff 100%),
    radial-gradient(circle at 22px 8px, #d71576 40%, #d71576 40%, #d71576 100%);
  background-size: 32px 8px, 32px 16px, 32px 16px;
  background-repeat: space no-repeat;
  background-position: center top, center 6px, center 6px;

  &--alt {
    background-image: linear-gradient(
        90deg,
        #d88080 12px,
        0,
        #f078b4 15px,
        0,
        #f078b4 20px,
        0,
        #fff 100%
      ),
      radial-gradient(
        circle closest-side,
        rgba(255, 255, 255, 0) 88%,
        #fff 100%
      ),
      radial-gradient(
        circle at 22px 8px,
        #ea8ebc 40%,
        #f078b4 40%,
        #f078b4 100%
      );
    background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 21'%3E%3Cpath d='M20 0h-7v6.9a7.5 7.5 0 107 0V0z' fill='%231373A9'/%3E%3Cpath d='M13 0h3v6.9a7.5 7.5 0 002 14 7.5 7.5 0 01-9-7.4c0-2.9 1.6-5.4 4-6.6V0z' fill='%2300486B'/%3E%3C/svg%3E");
    background-size: 2em 1.3125em;
  }
}

.paper-text {
  color: #41122c;
  margin-top: 70px;
  text-align: center;
  padding: 10px;
  font-size: 17px;
}

.button,
.button1 {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 400;
  color: #41122c;
  background-color: #ff4da6;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button:hover,
.button1:hover {
  background-color: #800542;
  box-shadow: 0px 15px 20px #800542;
  color: #fff;
  transform: translateY(-7px);
}

.button:active,
.button1:active {
  transform: translateY(-1px);
}

.expbtn,
.expbtn1 {
  margin-left: 155px;
}

.expbtn1 {
  margin-top: 20px;
  margin-left: 130px;
  display: none;
  text-decoration: none;
}

.myname {
  color: #ea8ebc;
  font-size: 50px;
  font-family: "Satisfy", cursive;
  margin-left: 140px;
}

#explore2 {
  display: none;
}

footer {
  margin-left: 280px;
  padding-bottom: 10px;
}

.foot {
  margin-top: 50px;
  display: flex;
  gap: 120px;
  flex-direction: row;
}

.footer-heading {
  color: #41122c;
  font-family: "Grey Qo", cursive;
  font-size: 100px;
  text-align: center;
}
.c-hub {
  font-weight: lighter;
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}
.n-heading {
  font-weight: lighter;
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  color: grey;
}
.c-content {
  color: grey;
  font-style: italic;
}

.newsletter {
  display: flex;
  flex-direction: column;
}
.input-email {
  border: none;
  border-bottom: 2px solid grey;
}

.input-email:hover {
  border-bottom: 2px solid black;
}

.input-email:focus {
  border: none;
}
.c-heading {
  font-size: 20px;
}
.c-heading1 {
  margin-left: 20px;
  justify-content: center;
  align-items: center;
}

.sign-up {
  margin-top: 20px;
  background-color: transparent;
  color: grey;
  padding: 10px;
  width: 150px;
  border: 2px solid grey;
}

.sign-up:hover {
  border: 2px solid black;
  color: black;
}

.connect {
  display: flex;
  flex-direction: row;
}

.copy {
  margin-top: 120px;
  font-size: 10px;
  color: grey;
}

.mapping {
  margin-left: 120px;
  display: flex;
  margin-top: 20px;
  gap: 300px;
}
.location {
  height: 300px;
  width: 400px;
}
.line {
  width: 900px;
}
.title1-2 {
  display: none;
}
.t1-2 {
  display: none;
}
.im {
  margin-left: 30px;
  display: none;
  flex-direction: row;
  gap: 30px;
}

.im1 {
  background-image: url("/images/Accessories.JPG");
  height: 150px;
  width: 150px;
  background-size: 150px 150px;
  border: 2px solid #41122c;
  border-radius: 10px;
}

.im2 {
  background-image: url("/images/Fragnance.JPG");
  height: 150px;
  width: 150px;
  background-size: 150px 150px;
  border: 2px solid #41122c;
  border-radius: 10px;
}

.im-2 {
  display: none;
  margin-top: 30px;
  margin-left: 120px;
}

.im3 {
  background-image: url("/images/sunglasses.jpg");
  height: 150px;
  width: 150px;
  background-size: 150px 150px;
  border: 2px solid #41122c;
  border-radius: 10px;
}

.im1-text,
.im2-text,
.im3-text {
  color: white;
  display: none;
  font-family: "Grey Qo", cursive;
  font-size: 40px;
  margin-top: 30%;
  margin-left: 10%;
}

.im2:hover {
  background-image: url("");
  background-color: #41122c;
  .im2-text {
    display: flex;
  }
}

.im3:hover {
  background-image: url("");
  background-color: #41122c;
  .im3-text {
    display: flex;
  }
}

.im1:hover {
  background-image: url("");
  background-color: #41122c;
  .im1-text {
    display: flex;
  }
}

@media screen and (max-width: 915px) {
  .navbar {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .profile {
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 60px;
  }
  .profile-pic {
    height: 70px;
    width: 70px;
    border: 4px solid #7f5d70;
  }
  .text-light {
    font-size: 60px;
  }
  .media-links {
    display: none;
  }
  .social-links {
    display: none;
  }
  .icon-name {
    display: none;
  }
  .dropdown {
    margin-top: 20px;
    margin-left: 60px;
  }
  .dropdown-content {
    top: 40px;
    right: -15px;
    min-width: 100px;
  }
  #front {
    margin-left: 0;
    width: 100%;
    background-size: cover;
    min-height: 700px;
    background-image: url("/backgrounds/bg_1.jpg");
    border: none;
    background-attachment: fixed;
    margin-top: 100px;
  }
  .name {
    display: none;
  }
  .tagline {
    display: none;
  }
  #Explore {
    margin-left: 2px;
    display: none;
  }
  .title1-2 {
    margin-left: 10px;
    font-size: 40px;
    display: inline;
  }
  .t1-2 {
    margin-left: 80px;
    display: inline;
  }

  .container {
    display: none;
  }
  .images {
    display: none;
  }
  #explore2 {
    display: flex;
  }
  .im {
    margin-top: 20px;
    display: flex;
  }
  .im-2 {
    display: flex;
  }
  #abt {
    margin-left: 0;
  }
  .title2 {
    font-size: 42px;
  }

  .me {
    height: 350px;
    width: 300px;
    margin-left: 10%;
  }
  .paper {
    display: none;
  }
  .myname {
    margin-left: 80px;
  }

  .expbtn1 {
    display: flex;
  }
  footer {
    margin-left: 0;
  }
  .footer-heading {
    font-size: 50px;
  }
  .line {
    width: 300px;
  }

  .foot {
    margin-top: 10px;
    margin-left: 20px;
    flex-direction: column;
    gap: 10px;
  }
  .c-heading1 {
    margin-left: 0;
  }
  .mapping {
    margin-left: 20px;
    flex-direction: column;
    gap: 10px;
  }
  .location {
    width: 350px;
  }
  .input-email {
    width: 250px;
  }
  .connect {
    margin-left: -20px;
  }
  .copy {
    display: none;
  }
}
